html {
  box-sizing: border-box;
}

.app {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

input {
  width: 100%;
  box-sizing: border-box;
}

.clock {
  display: flex;
  justify-content: center;
}

.clock div {
  padding: 0 5px;
}
